#pixel_setting {

}

#pixel_container {
    overflow: auto;
    margin: auto;
    width: 900px;
    border: 5px solid gray;

}

.pixel {
    float: left;
    border: 0px;
}

.highlight {
    background-color: blue;
}

.new_row {
    clear: both;
}
